#statusCircle {
  height: 100px;
  transform: translateY(20%);
}

#path {
  background-color: var(--lightGrey);
  width: 100%;
}

.attribute {
  border-top: 0.5px solid var(--textColor);
  display: flex;
  flex-direction: row;
  width: 100%;
  color: var(--textColor);
}

.dataWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.data {
  width: 50%;
}

.dataAttribute {
  width: 100%;
}

.dataValue {
  width: 100%;
  border-left: 0.1px dashed var(--textColor);
  padding-left: 2px;
}

#buttons {
  flex-wrap: wrap;
}
